# What needs to be done:
#
# 1. install firewalld with sudo dnf install firewalld -y
#
#
# 2. enable firewalld at boot: sudo systemctl enable firewalld
#
#
# 3. start firewalld : sudo systemctl start firewalld
#
#
# 4. check status firewalld: sudo systemctl status firewalld
# -> spit out message if running and active or if not
#
#
#

- name: Install, enable and start firewalld
  hosts: initial
  become: true
  tasks:
    - name: Install firewalld
      ansible.builtin.dnf:
        name: firewalld
        state: present

    - name: Enable firewalld
      ansible.builtin.systemd:
        name: firewalld
        enabled: true

    - name: Start firewalld
      ansible.builtin.systemd:
        name: firewalld
        state: started

    - name: Check firewalld statuas
      ansible.builtin.command: systemctl is-active firewalld
      register: security_firewalld_status
      changed_when: false

    - name: Check status firewalld
      ansible.builtin.debug:
        msg: "firewalld is {{ security_firewalld_status.stdout }}"
