- name: Install, enable and start firewalld
  hosts: initial
  become: true
  tasks:
    - name: Install firewalld
      ansible.builtin.dnf:
        name: firewalld
        state: present

    - name: Enable firewalld
      ansible.builtin.systemd:
        name: firewalld
        enabled: true

    - name: Start firewalld
      ansible.builtin.systemd:
        name: firewalld
        state: started

    - name: Check firewalld statuas
      ansible.builtin.command: systemctl is-active firewalld
      register: security_firewalld_status
      changed_when: false

    - name: Check status firewalld
      ansible.builtin.debug:
        msg: "firewalld is {{ firewalld_status.stdout }}"
